#flash {
  position: absolute;
  top: 7em;
  left: 0;
  width: 90%;
  z-index: 5000;
  margin: 0 5%;
}

#error_explanation {
  position: fixed;
  max-width: 450px;
  top: 7em;
  z-index: 5000;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: #F8E0E6;
}

#notice {
  color: green;
}