.form-wrapper {
    max-width: 600px;
}

.form-wrapper input[type=number] {
    outline: solid thin;
    outline: #fff;
    background-color: rgba(194, 149, 191, 0.33)
}

form input[type=submit] {
    background-color: #707473;
}

form input[type=submit]:hover {
    background-color: #707200;
}

.show-tables {
    margin-top: 50px;
}
fieldset legend {
    color: #190707;
    margin: 30px 0;
    font-style: italic;
    font-size: 2em;
}

fieldset {
    /*background: #BDBDBD;*/
    margin-bottom: 20px;
    padding: 40px;
}

.size-5 {
    width: 50px;
}

span .fa-database {
    margin-left: 10px;
}