%h1 Listing Consignments
.table-responsive
  %table#consignments.table.table-bordered.table-hover
    %thead
      %tr
        %th Product
        %th Quantity
        %th User
    %tbody
      - @consignments.each do |consignment|
        %tr
          %td= consignment.product.name
          %td= consignment.quantity
          %td= consignment.user.name
= link_to(raw('<span class="glyphicon glyphicon-plus"></span> Add New Consignment'), new_consignment_path, class: "text-success")
