.navbar.navbar-default.navbar-fixed-top
  .container.text-center
    .navbar-brand.text-center
      =link_to( image_tag('logo.jpg', width: "150", class: "logo"), root_path)
    - unless !user_signed_in?
      %button.navbar-toggle#button-toggle
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-text.pull-right
        = succeed "." do
          %strong= current_user.name
        = link_to(('<span class="fa fa-sign-out"></span> Logout').html_safe, destroy_user_session_path, method: :delete, class: 'navbar-link')