%ul.nav.nav-stacked
  %li
    = link_to :products do
      %i.fa.fa-fw.fa-home
      Products
  %li
    = link_to :invoices do
      %i.fa.fa-fw.fa-file
      Invoices
  %li
    = link_to :consignments do
      %i.fa.fa-fw.fa-external-link
      Consignments
  %li
    = link_to :releases do
      %i.fa.fa-fw.fa-external-link
      Collected Products